# Python cache
__pycache__/
*.py[cod]
*.pyo

# Virtual environments
venv/
env/
.venv/
# .env/

# VS Code settings (agar VS Code ishlatilsa)
.vscode/

# PyCharm
.idea/

# OS files
.DS_Store
Thumbs.db

# Log files
*.log

# dotenv config (tokenlar va maxfiy sozlamalar)
.env

# Docker build artifacts (agar ishlatilsa)
*.pid
*.tar
*.bak
*.swp

# Byte-compiled / optimized / DLL files
*.pyc
*.pyd
*.so
